lapis/pgdata
lapis/session-data
lapis/logs
lapis/.env
lapis/.env*


node/opsapi-node/node_modules
node/opsapi-node/uploads
node/opsapi-node/.env

/sealed-secret.yaml
secret.yaml
devops/.DS_Store
.DS_Store
.qodo
